<!DOCTYPE html>
<html>
<head>
  <%= yield :head %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link href='http://fonts.googleapis.com/css?family=Caesar+Dressing' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
  <script>
      document.createElement('header');
      document.createElement('nav');
      document.createElement('section');
      document.createElement('article');
      document.createElement('aside');
      document.createElement('footer');
  </script>
</head>
<body>
<nav>
  <header><h1>PANDA TICKLE</h1></header>
    <ul>
      <% if current_user %>
          <li>Signed in as <%= current_user.name %></li>
          <li><%= link_to "Sign out", signout_path %></li>
      <% else %>
          <li><%= link_to "Sign in with Twitter", "/auth/twitter"%></li>
      <% end %>
      <li>or</li>
      <li>Register</li>
      <li>Contact Us</li>
    </ul>
</nav>
<section id="page_content">
  <section id="left_col">
    <ul>
      <li><%= link_to(image_tag("icon1.png", alt: "Home"), root_url, title: "Home")%></li>
      <li>Home</li>
      <br>
      <br>
      <br>
      <br>
      <li><%= link_to(image_tag("icon2.png", alt: "Play Game"), :controller => 'games', :action => 'pandatickle',  title: "Play Game")%></li>
      <li><%= link_to 'Tickle Panda', :controller => 'games', :action => 'pandatickle',  title: "Play Game"  %></li>
      <br>
      <br>
      <br>
      <br>
      <li><%= link_to(image_tag("icon3.png", alt: "Panda Facts"), root_url, title: "Facts")%></li>
      <li>Learn about Panda</li>
    </ul>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="social">
      <ul>
        <li><%= image_tag("twitter_2.png", alt: "Twitter")%></li>
        <li><%= image_tag("google_plus.png", alt: "Google+")%></li>
        <li><%= image_tag("fb_1.png", alt: "Facebook")%></li>
        <li><%= image_tag("email.png", alt: "Contact Us")%></li>
      </ul>
    </div>
  </section>
<%= yield :center %>
  <section id="right_col">
<%= yield :right %>
  </section>
  <footer>Copyright Hut 41</footer>
</section>
<%= javascript_include_tag "Sprite3D" %>
<%= yield :scripts %>
</body>
</html>
