<!DOCTYPE html>
<html>
<head>
  <%= yield :head %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link href='http://fonts.googleapis.com/css?family=Caesar+Dressing' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
  <script>
      document.createElement('header');
      document.createElement('nav');
      document.createElement('section');
      document.createElement('article');
      document.createElement('aside');
      document.createElement('footer');
  </script>
</head>
<body>
<div id="contain_all">
<nav>
  <header><h1>PANDA TICKLE</h1></header>
    <ul>
      <% if current_user %>
          <li><span class="logged_in">Signed in as <%= current_user.name %></span></li>
          <li><%= link_to "Sign out", signout_path %></li>
      <% else %>
          <li><%= link_to "Sign in with Twitter", "/auth/twitter"%></li>
      <% end %>
      <li><%= link_to "About App", :controller => 'aboutapp', :action => 'about' %></li>
      <li><%= link_to "Contact Me", :controller => 'aboutapp', :action => 'contact' %></li>
    </ul>
</nav>
<section id="page_content">
  <section id="left_col">
    <ul>
      <li><%= link_to(image_tag("icon1.png", alt: "Home"), root_url, title: "Home")%></li>
      <li><%= link_to 'Home', root_url,  title: "Home" %></li>
      <br>
      <br>
      <br>
      <br>
      <li><%= link_to(image_tag("icon2.png", alt: "Play Game"), :controller => 'games', :action => 'pandatickle',  title: "Play Game")%></li>
      <li><%= link_to 'Tickle Panda', :controller => 'games', :action => 'pandatickle',  title: "Play Game"  %></li>
      <br>
      <br>
      <br>
      <br>
      <li><%= link_to(image_tag("icon3.png", alt: "Panda Facts"), :controller => 'facts', :action => 'pandafacts', title: "Facts")%></li>
      <li><%= link_to 'Panda Facts', :controller => 'facts', :action => 'pandafacts',  title: "Panda Facts"  %></li>
    </ul>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="social">
      <ul>
        <li><%= link_to(image_tag("twitter_2.png", alt: "Twitter"), "https://twitter.com/kcoughlan78") %></li>
        <li><%= image_tag("google_plus.png", alt: "Google+")%></li>
        <li><%= image_tag("fb_1.png", alt: "Facebook")%></li>
        <li><%= image_tag("email.png", alt: "Contact Us")%></li>
      </ul>
    </div>
  </section>
<%= yield :center %>
  <section id="right_col">
<%= yield :right %>
  </section>
</section>
</div>
<footer>Copyright Hut 41</footer>
<%= javascript_include_tag "Sprite3D" %>
<%= yield :scripts %>
</body>
</html>
